/*

font-family: 'Roboto', sans-serif;

font-family: 'Lato', sans-serif;

*/



* {

    font-family: 'Open Sans', sans-serif;

}





button,
button:focus,
a,
a:hover,
div,
input,
textarea,
select {

    outline: none;

    text-decoration: none;

}



p,
h1,
h2,
h3,
h4,
h5,
h6 {

    margin: 0;

}



header {

    position: absolute;

    width: 100%;

    top: 0;

    left: 0;

    right: 0;

    z-index: 999;

    background: #4fcfff;
    /* Old browsers */

    background: -moz-linear-gradient(left, #4fcfff 0%, #00aff0 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(left, #4fcfff 0%, #00aff0 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to right, #4fcfff 0%, #00aff0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fcfff', endColorstr='#00aff0', GradientType=1);
    /* IE6-9 */

}



img.download-header {

    width: 100%;

    max-width: 175px;

    margin-top: 20px;

    margin-right: 5px;

    float: left;

}



.menu-scroll {

    background: #4fcfff;
    /* Old browsers */

    background: -moz-linear-gradient(left, #4fcfff 0%, #00aff0 100%);
    /* FF3.6-15 */

    background: -webkit-linear-gradient(left, #4fcfff 0%, #00aff0 100%);
    /* Chrome10-25,Safari5.1-6 */

    background: linear-gradient(to right, #4fcfff 0%, #00aff0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fcfff', endColorstr='#00aff0', GradientType=1);
    /* IE6-9 */

    position: fixed;

    top: 0;

    width: 100%;

    z-index: 9;

}



.box-delivery {

    float: left;

    margin-top: 23px;

    margin-left: 15px;

}



.box-delivery span {

    display: table;

    font-size: 14px;

    color: #848282;

    margin-bottom: -2px;

}



.box-delivery a {

    color: #fff;

}



.box-delivery a img {

    width: 100%;

    max-width: 16px;

    margin-top: -3px;

    margin-right: 5px;

}



.menu-scroll .main-menu li a {

    line-height: 94px;

}



.menu-scroll img.download-header {

    margin-top: -2px;

}



#logo {

    width: 145px;

    margin: 15px 0;

    float: left;

}



.main-menu {

    list-style: none;

    margin: 0;

    padding: 0;

    float: right;

}



.main-menu li {

    float: left;

}



.main-menu li a {

    margin-left: 8px;

    margin-right: 8px;

    line-height: 90px;

}



a#register {

    color: #fff;

    border: solid 1px #fff;

    padding: 13px 20px;

    border-radius: 3px;

}



a#login {

    color: #000;

    background: #fff;

    padding: 13px 50px;

    border-radius: 3px;

    border: solid 1px #fff;

}



.btn-menu-toggle {

    float: right;

    background: transparent;

    border: none;

    margin: 0;

    padding: 5px 0 0;

    display: none;

}



.row-menu-toggle {

    width: 33px;

    height: 5px;

    border-radius: 6px;

    margin: 5px 0 3px;

    background: #183778;

}



#menu-mobile {

    position: fixed;

    top: 0;

    right: 0;

    background: #fff;

    padding: 30px 20px;

    display: none;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.16);

}



.box-title-menu-mob strong {

    font-weight: 800;

    font-size: 24px;

    color: #3e4095;

}



.box-title-menu-mob button {

    float: right;

    background: transparent;

    border: none;

    font-size: 30px;

    color: #2cc1f9;

    line-height: 0;

    margin-top: 4px;

}



#main-menu-mobile {

    background: #fff;

    height: 100vh;

    list-style: none;

    padding: 0;

    margin-top: 25px;

}



#main-menu-mobile li {

    margin-bottom: 15px;

}



#main-menu-mobile a,
#main-menu-mobile a:hover,
#main-menu-mobile a:focus {

    color: #282828;

}



#main-menu-mobile a#register {

    background: #2cc1f9;

    color: #fff;

    padding: 15px;

    border-radius: 5px;

    display: table;

}



#main-menu-mobile a#login {

    box-shadow: 0 3px 5px rgb(0 0 0 / 16%);

    background: #fff;

    width: 100%;

    display: table;

    padding: 15px;

    border-radius: 5px;

}



#banner {

    text-align: center;

    padding-top: 105px;

    background-image: url(../images/banner.jpg);

    background-position: center 0;

    background-size: cover;

    height: 555px;

    position: relative;

    margin-bottom: 30px;

}



img#car-banner {

    position: absolute;

    left: 0;

    bottom: -60px;

    width: 100%;

    max-width: 540px;

}



img#cel-banner {

    position: absolute;

    right: 0;

    bottom: 0;

    width: 100%;

    max-width: 310px;

}



.banner-first-row img {

    width: 100%;

    max-width: 290px;

}



.banner-second-row {

    font-size: 29px;

    margin-top: 26px;

    color: #252525;

}



.get-location {

    background: #fff;

    border: none;

    color: #a6a6a6;

    border-radius: 50px;

    outline: none;

    margin-top: 32px;

    height: 65px;

    width: 100%;

    max-width: 330px;

    box-shadow: 0 5px 5px rgb(0 0 0 / 18%);

    text-align: left;

    padding-left: 25px;

    padding-top: 0px;

    padding-right: 25px;

}



.get-location img {

    float: right;

    width: 100%;

    max-width: 24px;

}



.box-hashtags {

    margin: 0 auto;

    display: table;

    margin-top: 40px;

}



.hashtags {

    max-width: 140px;

    text-align: initial;

    float: left;

    color: #303030;

    border: 1px solid #303030;

    margin-right: 12px;

    padding: 4px 12px;

    border-radius: 30px;

}



.hashtags p {

    color: #303030;

    font-size: 17px;

}



section.content-home {

    padding: 60px 0;

}



#particles-container {

    position: absolute;

    width: 100%;

    height: 100%;

}



.box-video {

    position: relative;

    padding-top: 25px;

    padding-bottom: 67.5%;

    height: 0;

}



.box-video iframe {

    box-sizing: border-box;

    background: url(../images/bg-note.png) center center no-repeat;

    background-size: contain;

    padding: 9.4% 14.2% 17.8%;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

}



.box-video-download {

    margin-top: 90px;

    margin-bottom: 25px;

}



.box-video-download h2 {

    font-size: 36px;

    font-weight: 900;

    color: #193779;

    margin-bottom: 45px;

}



.box-video-download img {

    width: 100%;

    max-width: 170px;

    margin-right: 10px;

}



.box-video-register {

    margin-top: 90px;

}



.box-video-register h2 {

    font-size: 36px;

    font-weight: 900;

    color: #0bb3f2;

    margin-bottom: 45px;

}



.box-video-register h2 span {

    color: #193779;

}



.box-video-register button {

    background: #193779;

    border: none;

    color: #fff;

    font-weight: bold;

    padding: 12px 40px;

    border-radius: 4px;

}



h4.title-section {

    color: #5b5c5c;

    font-weight: 900;

    margin: 45px 0;

}



.slider {

    margin: 0;

    position: relative;

}



.slider-carousel,
.slider-promotions {

    margin: 0 -10px;

    position: relative;

}



.box-banner-item {

    margin: 10px;

    overflow: hidden;

}



.next-carousel-testimonial,
.prev-carousel-testimonial {

    position: absolute;

    top: 44%;

    background: transparent;

    border: none;

}



.prev-carousel-testimonial i.fas.fa-chevron-left,
.next-carousel-testimonial i.fas.fa-chevron-right {

    font-size: 24px;

    color: #ccc;

}



.next-carousel-testimonial {

    right: -22px;

}



.prev-carousel-testimonial {

    left: -20px;

}



.next-carousel,
.prev-carousel {

    z-index: 9;

    position: absolute;

    top: 60px;

    height: 35px;

    width: 35px;

    border-radius: 100%;

    background: #fff;

    border: 0;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.42);

}



.next-carousel {

    right: -18px;

}



.prev-carousel {

    left: -18px;

}



.prev-carousel i.fas.fa-chevron-left,
.next-carousel i.fas.fa-chevron-right {

    font-size: 16px;

}



.image-background {

    min-height: 131px;

    background-repeat: no-repeat !important;

    background-size: cover !important;

    background-position: center !important;

    border-radius: 10px;

}



.box-name-categories p {

    color: #333232;

    font-size: 18px;

    text-align: center;

    margin-top: 15px;

}



section#best {

    background: rgb(66, 202, 253);

    background: -moz-linear-gradient(48deg, rgba(66, 202, 253, 1) 0%, rgba(0, 175, 240, 1) 100%);

    background: -webkit-linear-gradient(48deg, rgba(66, 202, 253, 1) 0%, rgba(0, 175, 240, 1) 100%);

    background: linear-gradient(48deg, rgba(66, 202, 253, 1) 0%, rgba(0, 175, 240, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#42cafd", endColorstr="#00aff0", GradientType=1);

    padding-bottom: 50px;

    margin-top: 70px;

}



.box-establishment {

    border: 1px solid #ccc;

    border-radius: 5px;

    padding: 15px 10px;

}



.box-best,
.box-establishment {

    background: #fff;

    padding: 20px 5px;

    border-radius: 5px;

    margin-bottom: 20px;

}



.box-best img,
.box-establishment img {

    width: 100%;

    max-width: 115px;

    margin: 20px auto 0;

    display: table;

}



.box-best h4,
.box-establishment h4 {

    font-size: 18px;

    color: #333232;

    font-weight: bold;

    margin-bottom: 6px;

}



p#about-best span {

    color: #ffc107;

    font-weight: 600;

    font-size: 14px;

}



.box-best p,
.box-establishment p {

    color: #717171;

    font-size: 14px;

}



p#time-best {

    margin-top: 20px;

}



section#mundo-empresarial {

    position: relative;

    height: 570px;

    margin-top: 75px;

    background: #0c4770;

}



.background-mundo {

    background: #0c4770;

    width: 30%;

    height: 570px;

    position: absolute;

    top: 0;

    left: 0;

}



img#img-mundo {

    position: absolute;

    top: 0;

    left: -210px;

    z-index: 99;

}



section#mundo-empresarial h3 {

    text-align: center;

    font-weight: 900;

    color: #1abaf5;

    margin-bottom: 5px;

    margin-top: 25px;

}



section#mundo-empresarial p {

    text-align: center;

    margin-bottom: 30px;

    color: #fff;

}



@media only screen and (min-width : 481px) {

    .flex-row.row {

        display: flex;

        flex-wrap: wrap;

    }

    .flex-row.row>[class*='col-'] {

        display: flex;

        flex-direction: column;

    }

    .flex-row.row:after,

    .flex-row.row:before {

        display: flex;

    }

    .flex-row.row>[class*='col-']>.box {

        display: flex;

        flex: 1;

    }

}



@media only screen and (min-width : 481px) {

    .flex-row {

        display: flex;

        flex-wrap: wrap;

    }

    .flex-row>.divider-box {

        display: flex;

        flex-direction: column;

        min-height: 530px;

    }

    .flex-row:after,

    .flex-row:before {

        display: flex;

    }

    .flex-row>.divider-box>.box {

        display: flex;

        flex: 1;

    }

}



/* Grow thumbnails to fill columns height */

.flex-row .box-testimonial,

.flex-row .caption {

    display: flex;

    flex: 1 0 auto;

    flex-direction: column;

}



/* Flex Grow Text Container */

.flex-row .caption p.flex-text {

    flex-grow: 1;

    margin-bottom: 25px;

}



#testimonial .title-section {

    text-align: center;

    margin: 70px 0;

}



.divider-box {

    padding: 12px;

}



.box-testimonial {

    box-shadow: 0 2px 5px rgb(0 0 0 / 25%);

    border-radius: 5px;

    padding: 40px 15px;

    position: relative;

    min-height: 525px;

}



.box-testimonial img {

    width: 100%;

    max-width: 100px;

    border-radius: 100%;

    margin: 0 auto 25px;

    display: table;

}



.box-testimonial h4 {

    font-size: 18px;

    text-align: center;

    font-weight: bold;

    margin-bottom: 25px;

}



.box-testimonial p {

    color: #333232;

    font-size: 16px;

    font-family: 'Architects Daughter', cursive;

}



.name-company-user {

    position: absolute;

    bottom: 15px;

    left: 15px;

    right: 15px;

    border-top: 1px solid #ccc;

    padding-top: 15px;

}



.name-company-user p {

    text-align: center;

    color: #444444;

    font-size: 12px;

    text-transform: uppercase;

}



#call {

    background-image: url('../images/call.jpg');

    background-position: center 0;

    background-size: cover;

    min-height: 465px;

    margin-bottom: 25px;

    margin-top: 105px;

    text-align: center;

}



.box-call {

    padding: 75px 0 90px;

}



.box-call h1 {

    font-weight: 900;

    color: #fff;

    font-size: 36px;

    margin-top: 40px;

}



.box-download {

    margin-top: 50px;

}



.box-download img {

    width: 100%;

    max-width: 165px;

}



section#box-home {

    margin-top: 50px;

}



.box-content-home {

    border-radius: 1.5em;

    padding: 10px;

    box-shadow: 0 2px 3px 0 rgba(41, 70, 97, 0.1);

    transition: all .2s ease-in-out;

    min-height: 250px;

}



.box-content-home:hover {

    transform: translateY(-5px);

    box-shadow: 0 0 2px rgba(41, 70, 97, 0.1), 0 2px 3px rgba(41, 70, 97, 0.1), 0 7px 9px rgba(41, 70, 97, 0.1);

    cursor: default;

}



.box-content-home img {

    width: 35px;

    margin: 0 auto;

    display: table;

}



.box-content-home h4 {

    font-size: 16px;

    text-align: center;

    margin-top: 10px;

    font-weight: 600;

    color: #5b5c5c;

}



.box-content-home p {

    margin-top: 10px;

    text-align: center;

    font-size: 14px;

    color: #7d7d7d;

}



#monthly-payment {

    background-image: url(../images/planos.jpg);

    background-position: center center;

    background-size: cover;

    min-height: 465px;

    padding: 50px 0;

    margin-top: 105px;

}



.box-monthly {

    background: #fff;

    border-radius: 18px;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.57);

    padding: 35px 30px;

}



.box-left h3,
.box-left h3 span {

    color: #000;

    font-weight: bold;

    font-size: 22px;

}



.box-left p {

    font-size: 18px;

    margin-bottom: 30px;

}



.box-left span {

    color: #162a5e;

    font-size: 24px;

    margin-top: 25px;

    display: table;

}



.box-left .box-download {

    margin-top: 30px;

}



.box-monthly p {

    color: #000;

}



#monthly-payment h1 {

    color: #fff;

    font-weight: 900;

    font-size: 65px;

    margin-top: 25px;

}



#monthly-payment h4 {

    color: #fff;

    margin: 20px 0;

    font-size: 32px;

    font-weight: 300;

}



#monthly-payment button {

    background: #00aae7;

    color: #fff;

    font-weight: bold;

    padding: 15px 30px;

    outline: none;

    margin-top: 25px;

    border: none;

    border-radius: 5px;

}



#monthly-payment button:hover {

    opacity: .9;

}



section.content-pages {

    padding-top: 145px;

}



.logo-establishment {

    margin: 0 auto;

    display: table;

    height: 150px;

    width: 150px;

    border-radius: 100%;

    box-shadow: 0 0px 30px rgb(0 0 0 / 26%);

    text-align: center;

}



.logo-establishment img {

    width: 100%;

    max-width: 125px;

    margin-top: 44px;

}



.box-about-establishment {

    text-align: center;

    margin-top: 25px;

    margin-bottom: 15px;

}



.box-about-establishment h3 {

    font-weight: 900;

    margin-bottom: 10px;

}



.box-about-establishment p {

    font-size: 15px;

    color: #7d7d7d;

}



.box-service-establishment {

    margin-top: 40px;

    text-align: center;

}



.box-service-establishment img {

    width: 100%;

    max-width: 100px;

    border-radius: 100%;

    height: 100px;

    object-fit: cover;

    margin: 0 auto;

    display: table;

}



.box-service-establishment h5 {

    font-weight: bold;

    color: #5b5c5c;

    margin: 5px 0;

    font-size: 17px;

}



.box-service-establishment p {

    color: #5b5c5c;

    font-size: 14px;

}



.box-right {

    text-align: center;

    background: #f1f1f1;

    height: 100vh;

    padding: 70px 49px;

}



img#img-shopping {

    width: 100%;

    max-width: 95px;

}



.box-right h4 {

    color: #00aff0;

    font-weight: 900;

    font-size: 20px;

    margin-top: 45px;

}



.box-right p {

    font-size: 16px;

    margin: 40px 0 45px;

}



.box-right .box-download img {

    margin-bottom: 20px;

}



.title-section-pages,
.box-text h3 {

    font-weight: 900;

    color: #5b5c5c;

    margin-bottom: 20px;

}



.box-text p {

    text-align: justify;

    padding-bottom: 10px;

}



.box-content-pages {

    background: #fff;

    padding: 60px 60px 25px;

}



.box-content-pages h1 {

    color: #003c68;

    font-weight: 900;

    margin-bottom: 45px;

}



.box-content-pages p {

    margin-bottom: 35px;

    text-align: justify;

}



.steps {

    background: #e8e8e8;

    padding: 50px 0;

    margin-top: 90px;

}



.steps .box-content-pages {

    padding-bottom: 40px;

}



.steps .title {

    text-align: left;

    font-family: 'Roboto', sans-serif;

}



.box-location {

    text-align: center;

}



.box-location a {

    display: table;

    margin: 0 auto;

    font-size: 14px;

    text-decoration: underline;

    color: #7d7d7d;

    margin-bottom: 21px;

}



.box-location h3 {

    font-weight: bold;

    margin-bottom: 10px;

}



.box-location input {

    max-width: 330px;

    margin: 0 auto;

    border-radius: 32px;

    padding: 25px;

    margin-top: 18px;

    background: #f3f3f3;

}



.box-location button {

    padding: 16px;

    width: 100%;

    max-width: 330px;

    border-radius: 56px;

    border: 1px solid #ccc;

    font-size: 14px;

    background: #fff;

}



.box-location button img {

    float: left;

    width: 100%;

    max-width: 20px;

}



.box-questions h3 {

    font-weight: 900;

    font-size: 20px;

    line-height: 30px;

    color: #00aff0;

}



.box-questions p {

    margin-bottom: 30px;

}



fieldset {

    border: solid 2px #9c9c9c;

    padding: 10px 35px 15px;

    border-radius: 4px;

    margin-bottom: 30px;

}



fieldset legend {

    padding-left: 12px;

}



legend {

    color: #9c9c9c;

    border: 0;

    font-weight: bold;

    font-size: 18px;

    width: 40%;

    font-family: 'Roboto', sans-serif;

}



label {

    font-size: 14px;

    font-weight: bold;

    margin-bottom: 5px;

    font-family: 'Roboto', sans-serif;

}



fieldset.send-message legend {

    width: 170px;

}



.form-control {

    border: solid 1px #9c9c9c;

    border-radius: 2px;

    height: 40px;

    font-size: 14px;

    font-family: 'Roboto', sans-serif;

}



textarea.form-control {

    height: 90px;

    font-family: 'Roboto', sans-serif;

}



button.form-control.btn-form {

    background: #003c68;

    color: #fff;

    border: none;

    text-transform: uppercase;

    font-weight: bold;

    font-size: 14px;

    margin-top: 25px;

    font-family: 'Roboto', sans-serif;

}



.holder-data legend {

    width: 165px;

    font-family: 'Roboto', sans-serif;

}



.box-radios {

    margin-top: 30px;

}



fieldset .box-radios {

    margin-top: 0;

}



.box-radios label.lbl-title {

    margin-top: 20px;

}



.lbl-caracteristicas {

    display: block;

    position: relative;

    padding-left: 30px;

    margin: 10px 0;

    cursor: pointer;

    font-size: 15px;

    font-weight: 400;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;

}



.lbl-caracteristicas input {

    position: absolute;

    opacity: 0;

    cursor: pointer;

    height: 0;

    width: 0;

}



.checkmark {

    position: absolute;

    top: 0;

    left: 0;

    height: 20px;

    width: 20px;

    border-radius: 100%;

    background-color: #fff;

    border: 1px solid #9f9f9f;

}



.lbl-caracteristicas input:checked~.checkmark {

    background: #003c68;

}



.lbl-caracteristicas input:checked~.checkmark {

    background: #003c68;

}



.checkfirst {

    border-radius: 0;

}



/* Create the checkfirst/indicator (hidden when not checked) */

.checkfirst:after {

    content: "";

    position: absolute;

    display: none;

}



/* Show the checkfirst when checked */

.lbl-caracteristicas input:checked~.checkfirst:after {

    display: block;

}



/* Style the checkfirst/indicator */

.lbl-caracteristicas .checkfirst:after {

    left: 6px;

    top: 1px;

    width: 7px;

    height: 12px;

    border: solid white;

    border-width: 0 3px 3px 0;

    -webkit-transform: rotate(45deg);

    -ms-transform: rotate(45deg);

    transform: rotate(45deg);

}



a.link-steps {

    color: #0000ff;

    text-decoration: underline;

    display: table;

    margin: 20px 0 30px;

    font-family: 'Roboto', sans-serif;

}



.steps button.form-control.btn-form {

    text-transform: initial;

    font-size: 17px;

    height: 46px;

    border-radius: 5px;

    font-family: 'Roboto', sans-serif;

}



.box-hiring-steps h2 {

    color: #003c68;

    font-family: 'Roboto', sans-serif;

}



.box-hiring-steps h4 {

    color: #a0a0a0;

    font-size: 22px;

    font-family: 'Roboto', sans-serif;

}



ul {

    list-style: none;

    padding: 0;

}



.box-hiring-steps li {

    margin: 50px 0;

    font-family: 'Roboto', sans-serif;

}



.footsteps {

    float: left;

    width: 40px;

    height: 40px;

    background: #a0a0a0;

    color: #fff;

    text-align: center;

    border-radius: 100%;

    margin-right: 15px;

    font-size: 23px;

    font-weight: bold;

    padding-top: 2px;

    margin-top: -7px;

    font-family: 'Roboto', sans-serif;

}



.footsteps-active {

    background: #003c68;

}



.box-hiring-steps h4.step-active {

    color: #003c68;

}



.footsteps-completed {

    background: #4ca92b;

}



.box-hiring-steps h4.step-completed {

    color: #4ca92b;

}



a.back-register {

    display: table;

    text-decoration: underline;

    margin-top: 35px;

}



.holder-data legend#car-wash {

    width: 206px;

}



.steps img {

    margin: 0 auto 60px;

    display: table;

    max-width: 230px;

}



p#register-completed {

    text-align: center;

    font-size: 31px;

    color: #4ca92b;

    font-family: 'Roboto', sans-serif;

}



p#register-completed span {

    font-weight: bold;

    font-size: 39px;

    display: block;

    margin-top: 5px;

}



footer {

    margin-top: 60px;

}



.box-footer h3 {

    font-weight: 900;

    margin-top: 0;

    margin-bottom: 15px;

    font-family: 'Lato', sans-serif;

}



.box-footer ul {

    padding: 0;

    list-style: none;

}



.box-footer ul li {

    margin-bottom: 10px;

}



.box-footer ul li a {

    color: #717171;

    font-size: 18px;

    font-family: 'Lato', sans-serif;

}



.box-midia-footer {

    float: left;

    background: #bfbfbf;

    width: 40px;

    height: 40px;

    border-radius: 100%;

    margin-right: 15px;

    text-align: center;

}



.box-midia-footer i.fa-facebook-f,
.box-midia-footer i.fab.fa-youtube,
.box-midia-footer i.fa-instagram {

    color: #fff;

    font-size: 22px;

    margin-top: 9px;

}



.msg-social {

    position: absolute;

    top: 50px;

}



.msg-social p {

    font-size: 16px;

    color: #000;

}



.credit p {

    margin: 50px 0 30px;

    font-family: 'Lato', sans-serif;

    text-align: center;

}



@media only screen and (max-width: 767px) {

    .btn-menu-toggle {

        display: block;

        position: absolute;

        top: 25px;

        right: 15px;

    }

    header.header {

        height: 94px;

    }

    a#register,
    a#login {

        border: none;

        padding: 0;

        border-radius: 0;

    }

    .main-menu {

        display: none;

    }

    img.download-header,
    img#cel-banner {

        display: none;

    }

    .box-delivery {

        margin-top: 27px;

        margin-left: 0;

    }

    #banner {

        height: 590px;

    }

    img#car-banner {

        bottom: 0;

        width: 100%;

        max-width: 300px;

        top: 395px;

    }

    img.download-header-mobile {

        width: 100%;

        max-width: 130px;

    }

    .banner-first-row img {

        max-width: 170px;

    }

    .banner-second-row {

        margin-top: 20px;

        font-size: 27px;

        line-height: 36px;

    }

    .get-location {

        margin-top: 20px;

    }

    .hashtags p {

        color: #303030;

        font-size: 14px;

    }

    #banner {

        padding-top: 95px;

        margin-bottom: -60px;

    }

    .box-video-download {

        margin-top: 20px;

        margin-bottom: 85px;

    }

    .box-video-download img {

        max-width: 135px;

    }

    .box-video-register {

        margin-top: 10px;

        margin-bottom: 50px;

    }

    .prev-carousel,
    .prev-carousel-testimonial {

        display: none !important;

    }

    .next-carousel,
    .next-carousel-testimonial {

        display: none !important;

    }

    section#best {

        margin-top: 10px;

    }

    .box-best,
    .box-establishment {

        padding: 5px 15px;

    }

    .box-best img,
    .box-establishment img {

        margin: 20px auto;

    }

    p#time-best {

        margin-top: 3px;

    }

    .background-mundo,
    img#img-mundo {

        display: none;

    }

    .box-testimonial {

        margin-bottom: 50px;

    }

    .box-content-home {

        min-height: 200px;

        margin-bottom: 30px;

    }

    .box-download img {

        max-width: 130px;

    }

    .box-right {

        margin-top: 100px;

    }

    .box-content-pages {

        padding: 25px 15px 25px;

    }

    .steps {

        margin-top: 94px;

    }

    fieldset {

        padding: 10px 15px 15px;

    }

    a.back-register {

        margin: 35px auto 0;

    }

    .social {

        margin-top: 40px;

    }

    .msg-social {

        margin-top: 39px;

    }

    p#credit {

        margin: 30px 0;

        text-align: center;

    }

}



@media only screen and (max-width: 767px) {

    .hashtags p {

        font-size: 11px;

    }

    .box-video-download h2,
    .box-video-register h2 {

        font-size: 28px;

    }

    .box-video-download img {

        max-width: 125px;

    }

    .box-left .box-download img {

        max-width: 105px;

    }

    #monthly-payment h1 {

        font-size: 40px;

    }

    .box-footer {

        margin-top: 20px;

    }

}

.select2-container--default .select2-selection--single {
    height: 40px;
    padding: 4px;
    border-radius: 2px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    padding: 4px;
    border-radius: 2px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}
